* {
    margin: 0px;
    box-sizing: border-box;
    color: rgb(44, 44, 44);
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#root {
    width:980px;
    margin:0 auto;
}

body {
    background-color: #f5f4f4;
}

nav {
    background-color: white;
    box-shadow:0 0 5px 5px rgba(0,0,0,.01);
}

nav ul {
    padding: 10px;
}

nav ul li {
    display: inline-block;
    padding: 10px;
    height: 45px;
}

nav ul a {
    display:inline-block;
    height: 45px;
}


p, h1, h2, h3, h4, h5, h6 {
    padding: 10px;
}

input {
    margin: 10px 10px;
    display: block;
    width: 250px;
}

button {
    margin-left: 10px;
    width: 250px;
    cursor:pointer;
}

a {
    color: blue;
    text-decoration: none;
}

.comment {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

#questions {
    padding: 0;
}

#questions > li {
    list-style: none;
}

#questions > li > p {
    float:left;
    height:100%;
    width:75%;
}

#questions li:nth-child(2n+1) {
    background-color:#c2c2c2;
}

#questions li:nth-child(1n+2) {
    background-color:#e3e3e3;
}

.voting {
    width:25%;
    float:right;
    text-align:center;
}

.voting > p {
    margin: 0;
    padding: 0;
    font-size:20px;
    font-weight:bold;
}

.voting button {
    margin: 0;
    padding: 0;
    color:#fff;
    height:25px;
    width:100%;
    font-weight:bold;
    font-size:18px;
}

.upvote {
    background-color:#2ecc71;
    border:none;
}

.downvote {
    border:none;
    background-color:#c0392b;
}

.back {
    display:block;
    float:left;
    width:250px;
    text-align:center;
    height:50px;
    line-height:50px;
    background-color:#e3e3e3;
    color:#000;
    border:2px solid black;
    margin-top:10px;
}